/* CONTENT */
#map {
    width: 100%;
    height: 400px;
}

#contenedor-contacto {
    width: 80%;
}

#side {
    text-align: start;
}

#side h5 {
    margin-top: 0;
}

#side p {
    margin-bottom: 0;
}

#social-contacto i {
    color: black;
}

#social-contacto li {
    display: inline-block;
    margin-right: 1em;
}

.form-row {
    display: flex;
    justify-content: flex-start;
}

.form-row input {
    width: 100%;
}

#mensaje {
    height: 15em;
}
#mensaje::placeholder {
    text-align: start;
}