/* FOOTER */
footer {
    background-color: $fondoOscuro;
    text-align: center;
    font-family: $fuenteSecundaria;
    color: white;
}

.footer {
    justify-content: space-evenly;
    margin-top: 4em;
}

.footer ul {
    margin: 1.5em 0em;
}

#logo-footer {
    margin: 2em 0.5em;
}

#footer-social li {
    display: inline-block;
    margin: 2.5em 0.5em;
}

#footer-contacto{
    text-align: start;
}

#footer-contacto li a i {
    margin-bottom: 0.2em;
    margin-right: 1.5em;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.form-row input {
    width: 100%;
}