/* FOOTER */
footer {
    background-color: $fondoOscuro;
    text-align: center;
    font-family: $fuenteSecundaria;
    color: white;
}

.footer {
    justify-content: space-evenly;
    margin-top: 4em;
}

.footer ul {
    margin: 1.5em 0em;
}

#footer-social li {
    display: inline-block;
}
