#form-cabecera input {
    height: 40px;
}

#form-cabecera input::placeholder {
    color: black;
    font-family: $fuenteSecundaria;
    font-weight: bold;
}

/* Cabecera index*/
#cabeceraIndex {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../img/header.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    text-align: center;
}

#contenido-cabecera {
    margin: 0 auto;
}

/* Contenedor servicios */
#contenedor-triple img {
    width: 33%;
    border: white solid 5px;
}

.tarjeta-habitacion {
    border: 1px solid black;
    overflow: visible;
}

.tarjeta-imagen1 {
    overflow: hidden;
}