#habitaciones {
    flex:70%;
}

#filtro {
    flex: 30%;
    text-align: start;
}

.foto {
    width:50%;
}

.foto img {
    width:100%;
}

.info {
    background-color: white;
    text-align: start;
    padding: 2em;
}

.info ul li {
    display: inline-block;
}

#contenedorfiltro {
    flex-shrink: 0;
    flex-wrap: wrap;
}

#spanTexto p {
    width: 100%;
}

@media (max-width:960px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    
    #habitaciones {
        flex: 0 0 100%;
    }

    #filtro {
        order: -1;
        flex: 0 0 100%;
    }
}


/*SLIDER*/
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: $fondoClaro;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $colorPrincipal;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $colorPrincipal;
    cursor: pointer;
  }

  #demo {
      color: $colorPrincipal;
  }