//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');


//Variables globales
$colorPrincipal: #17e6ca;
$fondoClaro: #D8D8D8;
$fondoOscuro: #707070;
$colorWarning: #e2c506;
$colorDanger: #e25e06;
$black: #1D1D1D;

$fuentePrincipal: 'Source Sans Pro', sans-serif;
$fuenteSecundaria: 'Lato';


/* CLASES GLOBALES */
body {
    margin: 0%;
    padding: 0%;
}

.flex {
    display: flex;
}

.inline li {
    display: inline-block;
}

.button {
    border: 0;
    color: white;
    background-color: $colorPrincipal;
    padding: 0.5em;
}

.redondo {
    border-radius: 30px;
}

.button:hover {
    color: $colorPrincipal;
    background-color: white;
    font-weight: 100;
}

hr {
    margin-bottom: 30px;
}

h1 {
    font-family: $fuentePrincipal;
    font-size: 71px;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {
    font-family: $fuentePrincipal;
    font-size: 48px;
    font-weight: ultralight;
    margin: 0px 0px 40px 0px;
}

h4 {
    font-family: $fuenteSecundaria;
    font-size: 15px;
    font-weight: normal;
    color: $colorPrincipal;
    margin: 40px 0px 0px 0px;
}

h5 {
    font-family: $fuentePrincipal;
    font-size: 12px;
    color: $fondoClaro;
}

p {
    font-family: $fuenteSecundaria;
    font-size: 20px;
    font-weight: normal;
}

hr {
    width: 5em;
}

ul {
    margin: 0;
    padding: 0;
}

.danger {
    color:$colorWarning;
}

.content {
    text-align: center;
    padding: 0em 5em;
}

.transparent {
    background: rgba(255, 255, 255, 0.7);
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

input {
    border: none;
    height: 40px;
}

.fab {
    color: white;
}

/* MÓDULOS */
    @import '_header';
    @import '_index';
    @import '_contacto';
    @import '_habitaciones';
    @import '_about';
    @import '_login';
    @import '_signin';
    @import '_footer';