@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
/* CLASES GLOBALES */
body {
  margin: 0%;
  padding: 0%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline li {
  display: inline-block;
}

.button {
  border: 0;
  color: white;
  background-color: #17e6ca;
  padding: 1em;
}

.redondo {
  border-radius: 30px;
}

.button:hover {
  color: #17e6ca;
  background-color: white;
  font-weight: 100;
}

hr {
  margin-bottom: 30px;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 71px;
  font-weight: normal;
  margin-bottom: 10px;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: ultralight;
  margin: 0px 0px 40px 0px;
}

h4 {
  font-family: "Lato";
  font-size: 15px;
  font-weight: normal;
  color: #17e6ca;
  margin: 40px 0px 0px 0px;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #D8D8D8;
}

p {
  font-family: "Lato";
  font-size: 20px;
  font-weight: normal;
}

hr {
  width: 5em;
}

ul {
  margin: 0;
  padding: 0;
}

.danger {
  color: #e2c506;
}

.content {
  text-align: center;
  padding: 0em 5em;
  margin-top: 4em;
  margin-bottom: 4em;
}

.transparent {
  background: rgba(255, 255, 255, 0.7);
}

.izquierda {
  text-align: start;
}

.derecha {
  text-align: right;
}

input {
  border: none;
  height: 40px;
}

.fab {
  color: white;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-row input {
  width: 100%;
}

.borde {
  border: 0.5px solid #1D1D1D;
}

.fondo-oscuro {
  background-color: #F6F6F6;
}

/* MÓDULOS */
#header {
  position: absolute;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 2.5em;
}

ul {
  list-style-type: none;
}

#header li {
  float: right;
  margin-top: 1.3em;
  margin-right: 2.5em;
  margin-bottom: 1em;
}

#header li:first-child {
  float: left;
  margin-top: 0em;
  margin-left: 2em;
}

ul li a {
  text-decoration: none;
  color: white;
}

#form-cabecera {
  padding-top: 5em;
}

#form-cabecera input::-webkit-input-placeholder {
  color: #707070;
  font-family: "Lato";
  padding-left: 1em;
}

#form-cabecera input:-ms-input-placeholder {
  color: #707070;
  font-family: "Lato";
  padding-left: 1em;
}

#form-cabecera input::-ms-input-placeholder {
  color: #707070;
  font-family: "Lato";
  padding-left: 1em;
}

#form-cabecera input::placeholder {
  color: #707070;
  font-family: "Lato";
  padding-left: 1em;
}

/* Cabecera index*/
#cabeceraIndex {
  margin: 0%;
  padding: 0%;
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

#cabeceraPag {
  margin: 0%;
  height: 30%;
  padding: 0%;
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

#contenido-cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Contenedor servicios */
#contenedor-triple img {
  width: 33%;
  border: white solid 5px;
}

.tarjeta-habitacion {
  background-color: white;
  height: 15em;
  padding: 4em;
  border: 0.5px solid black;
  z-index: 1;
  width: 40%;
}

.tarjeta-imagen1 {
  width: 60%;
  text-align: start;
  margin-left: -100px;
  margin-top: 50px;
  z-index: 0;
  overflow: hidden;
}

.tarjeta-imagen1 img {
  width: 100%;
}

.tarjeta-imagen2 {
  width: 60%;
  text-align: start;
  margin-right: -100px;
  margin-top: 50px;
  z-index: 0;
  overflow: hidden;
}

.tarjeta-imagen2 img {
  width: 100%;
}

.tarjeta {
  margin-bottom: 5em;
}

.vermas {
  margin-top: 2em;
  font-size: medium;
}

/* CONTENT */
#map {
  width: 100%;
  height: 400px;
}

#contenedor-contacto {
  width: 80%;
}

#side {
  text-align: start;
}

#side h5 {
  margin-top: 0;
}

#side p {
  margin-bottom: 0;
}

#social-contacto i {
  color: black;
}

#social-contacto li {
  display: inline-block;
  margin-right: 1em;
}

#form-contacto {
  text-align: start;
}

#mensaje {
  height: 15em;
}

#mensaje::-webkit-input-placeholder {
  text-align: start;
}

#mensaje:-ms-input-placeholder {
  text-align: start;
}

#mensaje::-ms-input-placeholder {
  text-align: start;
}

#mensaje::placeholder {
  text-align: start;
}

#nombre {
  width: 40%;
  margin-right: 1em;
}

#habitaciones {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

#filtro {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  text-align: start;
}

.foto {
  width: 50%;
}

.foto img {
  width: 100%;
}

.info {
  background-color: white;
  text-align: start;
  padding: 2em;
}

.info ul li {
  display: inline-block;
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #habitaciones {
    width: 100%;
  }
  #filtro {
    width: 100%;
  }
}

.about .izquierda {
  width: 60%;
  margin-right: 10%;
}

.izquierda h5 {
  margin-top: 4em;
}

#foto {
  width: 40%;
}

#fondo-testimonios {
  background-color: #D8D8D8;
  color: #1D1D1D;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

#testimonios {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tarjeta-testimonio p {
  width: 10em;
}

.login * {
  width: 50%;
  display: block;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .form-row {
  width: 100%;
  margin: 1em 0em;
}

.loginform {
  border: 0.5px solid #1D1D1D;
}

#login-contenedor {
  text-align: center;
}

.login a {
  color: #D8D8D8;
  margin-bottom: 0.5em;
}

.signin {
  width: 50%;
  text-align: start;
}

.signin form * {
  display: block;
}

.signin-form input {
  margin-top: 1.5em;
  width: 100%;
}

.signin img {
  margin-top: 57px;
}

#foto {
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #707070;
  text-align: center;
  font-family: "Lato";
  color: white;
}

.footer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4em;
}

.footer ul {
  margin: 1.5em 0em;
}

#logo-footer {
  margin: 2em 0.5em;
}

#footer-social li {
  display: inline-block;
  margin: 2.5em 0.5em;
}

#footer-contacto {
  text-align: start;
}

#footer-contacto li a i {
  margin-bottom: 0.2em;
  margin-right: 1.5em;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
}

.form-row input {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */