@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap");
/* CLASES GLOBALES */
body {
  margin: 0%;
  padding: 0%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline li {
  display: inline-block;
}

.button {
  border: 0;
  color: white;
  background-color: #17e6ca;
  padding: 0.5em;
}

.redondo {
  border-radius: 30px;
}

.button:hover {
  color: #17e6ca;
  background-color: white;
  font-weight: 100;
}

h1 {
  font-family: "Source Sans Pro";
  font-size: 71px;
  font-weight: normal;
}

h3 {
  font-family: "Source Sans Pro";
  font-size: 48px;
  font-weight: normal;
}

h4 {
  font-family: "Lato";
  font-size: 15px;
  font-weight: normal;
  color: #17e6ca;
  margin: 0;
}

h5 {
  font-family: "Source Sans Pro";
  font-size: 12px;
  color: #D8D8D8;
}

p {
  font-family: "Lato";
  font-size: 20px;
  font-weight: normal;
}

hr {
  width: 5em;
}

.danger {
  color: #e2c506;
}

.content {
  width: 100%;
  margin: auto;
  padding: 5%;
  text-align: center;
}

.transparent {
  background: rgba(255, 255, 255, 0.7);
}

.izquierda {
  text-align: left;
}

.derecha {
  text-align: right;
}

/* MÓDULOS */
#header {
  margin: 0%;
  padding: 0%;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

#header li {
  float: right;
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

#header li:first-child {
  float: left;
}

ul li a {
  text-decoration: none;
  color: white;
}

#form-cabecera input {
  height: 40px;
}

#form-cabecera input::-webkit-input-placeholder {
  color: black;
  font-family: "Lato";
  font-weight: bold;
}

#form-cabecera input:-ms-input-placeholder {
  color: black;
  font-family: "Lato";
  font-weight: bold;
}

#form-cabecera input::-ms-input-placeholder {
  color: black;
  font-family: "Lato";
  font-weight: bold;
}

#form-cabecera input::placeholder {
  color: black;
  font-family: "Lato";
  font-weight: bold;
}

/* Cabecera index*/
#cabeceraIndex {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

#contenido-cabecera {
  margin: 0 auto;
}

/* Contenedor servicios */
#contenedor-triple img {
  width: 33%;
  border: white solid 5px;
}

.tarjeta-habitacion {
  border: 1px solid black;
  overflow: visible;
}

.tarjeta-imagen1 {
  overflow: hidden;
}

/* CONTENT */
#map {
  width: 100%;
  height: 400px;
}

.about .izquierda {
  width: 70%;
}

.about img {
  width: 100%;
}

#fondo-testimonios {
  background-color: #D8D8D8;
  color: #1D1D1D;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

#testimonios {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login * {
  display: block;
  margin: auto;
}

.signin {
  width: 50%;
}

.signin form * {
  display: block;
}

/* FOOTER */
footer {
  background-color: #707070;
  text-align: center;
}

.footer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=styles.css.map */